body {
    font-family: 'Playfair Display', serif;
  }
  
  header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #logo {
    text-align: center;
  }
  
  
  nav ul {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    font-family: 'Cormorant Garamond', serif;
    margin-top: -20px;
    margin-left: -30px;
  }
  
  a {
    color: navy;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
  }
  
  .logoimg {
    border: none;
    border-radius: 3cm;
    margin-top: 30px;
  }
  
  .main {
    color: navy;
    margin: auto;
    padding: 10px;
    text-align: center;
    height: 300px;
  } 
  
  .main h1,p {
    margin-top: 35px;
  }

  .main p{
    font-size: large;
    line-height: 30px;
  }
  
  .contact {
    background-color: #b3a9f0 ;
    text-align: center;
    height: 250px;
    color: black;
    place-content:  center;
   }
  
  .contact h2 {
    text-align: center;
    color: black;
   }
  
   .contact p {
    margin: 30px;
   }
  
   .button {
    background-color: beige;
    color: black;
    font-size: small;
    border: 1px solid black;
    border-radius: 50px;
    width: 150px;
    height: 25px;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
   }